:root {
    --main-color: #725C5C;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 2508px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: relative;
  
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#brand{
    height: 68px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);   
}

#brand-text {
    
    height: 68px;
    width: 178px;
    left: 20px;
    top: 0px;
    border-radius: nullpx;
    position: absolute;
    left: 9.09%;
    right: 10%;
    top: 0%;
    bottom: 0%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#logo{
    height: 258px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(./img/deway.png);
}

div > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div > ul > li{
    
    display: flex;
    align-items: center;
    padding-left: 10.91%;
    
    height: 33px;
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    
    list-style: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    border-bottom: 0.5px solid #E7E7E7;
}

li > a {
    text-decoration: none;
    color: var(--main-color);
}

ul > li:hover{
    transition: 0.2s;
    background: #FDF1EB;
}

ul > li:focus{
    background: red;
}
