<div class="main-layout">
    <section class="main-section section">

        <div class="content1">
            <div id="video-title">
                <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
            </div>

            <div class="video-card"></div>
            
        </div>

        <div class="content2">
            <div class="buttons-section">
                <button type="button" class="btn btn-download buttons">
                    <mat-icon style="color: #fff;">file_download</mat-icon>
                    <span id="btn-text"><h3>Download</h3></span>
                </button>

                <button type="button" class="btn btn-favorite buttons">
                    <mat-icon style="color: #fff;">star</mat-icon>
                </button>

                <button type="button" class="btn btn-favorite buttons">
                    <mat-icon style="color: #fff;">whatshot</mat-icon>
                </button>
            </div>

            <div id="quote">
                <h4>COMO CITAR ESSE TRABALHO?</h4>
            </div>

            <div class="custom-card custom-card-main">
                <div class="card-title">
                    <h2>Detalhes</h2>
                </div>
                <div class="card-content scroll">
                    <p>Tipo de Apresentação: Pôster<br>
                        Eixo temático: Alimentação e saúde (AS)<br>
                        Palavras-chaves: Alimentos funcionais, alimentação escolar.<br>

                        Autores:<br>
                        Galileo Galilei¹<br>
                        Berta Lange de Morretes²<br>
                        Isaac Newton³<br>
                        Cesar Lattes¹<br>
                        Stephen Hawking⁴<br>
                        <br>
                        Universidade Estadual de Campinas<br>
                        Universidade de São Paulo<br>
                        Instituto Nacional de Pesquisas Espaciais<br>
                        Universidade Federal do Rio de Janeiro</p>
                </div>
            </div>
        </div>

    </section>

    <section class="resume-section section">
        <div class="content3">
            <div class="custom-card">
                <div class="card-title">
                    <h2>Resumo</h2>
                </div>
                <div class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida.
                        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem.Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
                        <span class="see-more" onclick="showText();">...<a>ver mais</a></span>
                        <span class="more">
                        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
                        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
                        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </span> 
                    </p>
                </div>
            </div>
        </div>
    </section>
    

</div>
