h1{font-size:22px;padding: 0;margin: 0;}
h2{font-size:20px;padding: 0;margin: 0;}
h3{font-size:16px;padding: 0;margin: 0;}
h4{font-size:14px;padding: 0;margin: 0;}

.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
}
.main-section{
    display: flex;
    flex-direction:row;
}
.content1{
    display: flex;
    flex-direction:column;
    flex: 8;
    
}
.content2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end ;
    flex: 4;
}

#video-title > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.video-card{
    width: 100%;
    height: 439px;
    margin-top:20px;
    background-color: rgba(128, 128, 128, 0.788);
}

.buttons{
    margin-right: 7px;
}

.buttons-section{
    display: flex;
    flex-direction: row;
}

.btn-download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 120px;
    border-radius: 4px;
    background: #ED7839;
    border-radius: 4px;
}

#btn-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    border-radius: 4px;
}

.btn-favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 43px;
    border-radius: 4px;


    background: #ED7839;
    border-radius: 4px;

}

#quote > h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: right;
    letter-spacing: 0.05em;

    color: #ED7839;
}

.custom-card{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 439px;


    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}
.card-title{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

.card-title > h2{
    padding-left: 15px;
}
.card-content{
    display: flex;
    padding: 15px;

}
.scroll {
    overflow-y: auto;
}

.card-content > p {

}