<div class="main-layout">
    <section class="main-section">

        <div class="content1">
            <div id="video-title">
                <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
            </div>

            <div class="video-card"></div>
            
        </div>

        <div class="content2">
            <div class="buttons-section">
                <button type="button" class="btn btn-download buttons">
                    <mat-icon style="color: #fff;">file_download</mat-icon>
                    <span id="btn-text"><h3>Download</h3></span>
                </button>

                <button type="button" class="btn btn-favorite buttons">
                    <mat-icon style="color: #fff;">star</mat-icon>
                </button>

                <button type="button" class="btn btn-favorite buttons">
                    <mat-icon style="color: #fff;">whatshot</mat-icon>
                </button>
            </div>

            <div id="quote">
                <h4>COMO CITAR ESSE TRABALHO?</h4>
            </div>

            <div class="custom-card">
                <div class="card-title">
                    <h2>Detalhes</h2>
                </div>
                <div class="card-content scroll">
                    <p>Tipo de Apresentação: Pôster<br>
                        Eixo temático: Alimentação e saúde (AS)<br>
                        Palavras-chaves: Alimentos funcionais, alimentação escolar.<br>

                        Autores:<br>
                        Galileo Galilei¹<br>
                        Berta Lange de Morretes²<br>
                        Isaac Newton³<br>
                        Cesar Lattes¹<br>
                        Stephen Hawking⁴<br>
                        <br>
                        ¹Universidade Estadual de Campinas<br>
                        ²Universidade de São Paulo<br>
                        ³Instituto Nacional de Pesquisas Espaciais<br>
                        ⁴Universidade Federal do Rio de Janeiro</p>
                </div>

            </div>
            
        </div>
    </section>

</div>
