<div class="header">
    <div id="title-area">
        <h4>Anais do Simpósio Latino Americano de Ciências de Alimentos </h4>
        <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h1>
        <h4>ISSN: 1234-5678</h4>
    </div>

    <div id="language-selection">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn language-button" id="dropdownBasic1" ngbDropdownToggle>
                <div id="button-text">
                    <mat-icon>language</mat-icon>PT,BR
                </div>
            </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>EN,EU</button>
        </div>
        </div>
    </div>

    <div class="user-section">
        <div class="user-info">
            <h4>Bem vindo!</h4>
            <h4>alguem12@galoascience.com</h4>
        </div>
        <div class="user-photo">
            <mat-icon id="profile-picture">account_circle</mat-icon>
        </div>
    </div>
</div>
